<div class="border">
    <h3>Inherited <code>RenderFragment</code> below:</h3>
    <div class="border">
        @RenderFragmentToInherit
    </div>
</div>

@code {
    protected RenderFragment RenderFragmentToInherit { get; set; }
}
